@import '../../index.sass'

$color : #333

.menu 
    position : fixed
    width : 100%
    // height : 80px
    // background : $color
    z-index : 1000
    display : flex
    transition : all .6s
    // box-shadow : 0 5px 15px rgba(#000, .2)

    &:hover
        box-shadow : 0 15px 35px rgba(#000, .2)

    &__container 
        width : 85%
        height : 80%
        margin : auto
        display : flex
        align-items : center
        justify-content : space-between


    &__logo 
        width : 40px
        height : 25px
        cursor : pointer
        
    &__logo_y4k
        width : 15vmin 
        height : 15vmin


.iconH
    width : 40px
    height : 20px
    // background : red
    .item
        $w : 30px
        $h : 1px
        width : $w
        height : $h
        background : #eee
        position : relative
        &:before, &:after
            content : ''
            width : $w
            height : $h
            background : #eee
            position : absolute
        &:after
            top : 7px
        &:before
            top : 14px