@import '../../index.sass'
.menu 
    position : fixed
    width : 100%
    height : 60px
    background : #fff
    z-index : 1000
    display : flex


    &__container 
        width : 80%
        height : 80%
        margin : auto
        display : flex
        align-items : center
        justify-content : center


    &__logo 
        width : 25px
        height : 25px
        cursor : pointer
