@import url("https://fonts.googleapis.com/css?family=Roboto:300,400");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

*:selection {
  color: #eee;
  background: #a09d9d; }

body {
  font-family: 'Roboto', 'Helvetica'; }

.menu {
  position: fixed;
  width: 100%;
  height: 60px;
  background: #fff;
  z-index: 1000;
  display: flex; }
  .menu__container {
    width: 80%;
    height: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center; }
  .menu__logo {
    width: 25px;
    height: 25px;
    cursor: pointer; }
