@import url("https://fonts.googleapis.com/css?family=Roboto:300,400");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

*:selection {
  color: #eee;
  background: #a09d9d; }

body {
  font-family: 'Roboto', 'Helvetica'; }

.footer {
  width: 100%;
  height: 300px;
  background: #777; }
