//@import url('https://fonts.googleapis.com/css?family=Roboto:300,400')

*
    margin : 0
    padding : 0
    border : none
    outline : none
    box-sizing : border-box

*::selection
    color : #eee
    background : #333

nav,
div,
img,
header,
footer,
section
    display : block

li,
ol,
ul
    list-style : none

body
    font-family : Helvetica

    &::-webkit-scrollbar
        background : #eee
        width : 5px
    &::-webkit-scrollbar-thumb
        background : #333
