//@import url('https://fonts.googleapis.com/css?family=Roboto:300,400')

*
    margin : 0
    padding : 0
    box-sizing : border-box

*::selection
    color : #eee
    background : #333

body
    font-family : Helvetica

    &::-webkit-scrollbar
        background : #eee
        width : 5px
    &::-webkit-scrollbar-thumb
        background : #333
