@import '../../index.sass'

$color : #333

.header 
    width : 100%
    height : 400px
    background : $color
    position : relative
    clip-path : polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%)
    
    &__img
        width : 100%
        height : 100%
        object-fit : cover
        position : absolute
        opacity : 0.1
    &__parallax 
        top : 0
        width : 100%
        height : 300px
        display : flex
        justify-content : center
        align-items : center
        
    &__welcome
        display : flex
        justify-content : center
        align-items : center
        flex-direction : column
        h2
            color : red
        p 
            font-weight : 300
